.user-container{
    background-color: rgb(233, 179, 108);
    padding: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
}

#user-image{
    height: 50%;
    border-radius: 50%;
}